skadySystem2/web/WEB-INF/wsdl/localhost_8080/paletas_service/paletaWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.paletas_service.udea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.paletas_service.udea.com/" name="paletaWs">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.paletas_service.udea.com/" schemaLocation="http://localhost:8080/paletas_service/paletaWs?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="verPaletas">
<part name="parameters" element="tns:verPaletas"/>
</message>
<message name="verPaletasResponse">
<part name="parameters" element="tns:verPaletasResponse"/>
</message>
<message name="agregarEmpleado">
<part name="parameters" element="tns:agregarEmpleado"/>
</message>
<message name="agregarEmpleadoResponse">
<part name="parameters" element="tns:agregarEmpleadoResponse"/>
</message>
<message name="agregarPaleta">
<part name="parameters" element="tns:agregarPaleta"/>
</message>
<message name="agregarPaletaResponse">
<part name="parameters" element="tns:agregarPaletaResponse"/>
</message>
<portType name="paletaWs">
<operation name="hello">
<input wsam:Action="http://ws.paletas_service.udea.com/paletaWs/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.paletas_service.udea.com/paletaWs/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="verPaletas">
<input wsam:Action="http://ws.paletas_service.udea.com/paletaWs/verPaletasRequest" message="tns:verPaletas"/>
<output wsam:Action="http://ws.paletas_service.udea.com/paletaWs/verPaletasResponse" message="tns:verPaletasResponse"/>
</operation>
<operation name="agregarEmpleado">
<input wsam:Action="http://ws.paletas_service.udea.com/paletaWs/agregarEmpleadoRequest" message="tns:agregarEmpleado"/>
<output wsam:Action="http://ws.paletas_service.udea.com/paletaWs/agregarEmpleadoResponse" message="tns:agregarEmpleadoResponse"/>
</operation>
<operation name="agregarPaleta">
<input wsam:Action="http://ws.paletas_service.udea.com/paletaWs/agregarPaletaRequest" message="tns:agregarPaleta"/>
<output wsam:Action="http://ws.paletas_service.udea.com/paletaWs/agregarPaletaResponse" message="tns:agregarPaletaResponse"/>
</operation>
</portType>
<binding name="paletaWsPortBinding" type="tns:paletaWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verPaletas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarPaleta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="paletaWs">
<port name="paletaWsPort" binding="tns:paletaWsPortBinding">
<soap:address location="http://localhost:8080/paletas_service/paletaWs"/>
</port>
</service>
</definitions>